body {
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #000;
    opacity: 0.5;
    cursor: pointer;
}

.dark-mode {
    background-color: #111;
    color: #fff;
}
